---
import { Breadcrumb } from "@/components/article/Breadcrumb";
import NextPrev from "@/components/article/NextPrev.astro";
import { Text } from "@synnaxlabs/pluto";
const {
    title,
    description,
    url,
    next,
    prev,
    nextURL,
    prevURL,
    showBreadcrumb = true,
} = Astro.props;
---

<article transition:animate="none">
    {showBreadcrumb && url.split("/").length > 2 && <Breadcrumb url={url} />}
    <Text.Text className="article-title" level={title.length > 30 ? "h2" : "h1"}
        >{title}</Text.Text
    >
    <h4 class="article-description">{description}</h4>
    <slot />
    <NextPrev prev={prev} next={next} prevURL={prevURL} nextURL={nextURL} />
</article>

<style is:global>
    article {
        position: relative;
        flex-basis: 840px;
        flex-shrink: 1;
        flex-grow: 1;
        margin-bottom: 25rem;
        min-width: 0;
        overflow-x: auto;
        .article-title {
            display: inline-block;
            width: fit-content;
        }

        & .pluto-breadcrumb {
            & a.pluto-text {
                color: var(--pluto-gray-l8);
                font-weight: 375;
                font-size: var(--pluto-p-size);
                &:last-child {
                    color: var(--pluto-gray-l10);
                    font-weight: 450;
                }
                &:hover {
                    color: var(--pluto-gray-l10);
                    text-decoration: none;
                }
            }
        }

        & .pluto-icon--caret-right {
            transform: translateY(0px);
            width: 2rem;
            height: 2rem;
            color: var(--pluto-gray-l6);
            &:first-child {
                display: none;
            }
        }

        padding: 5rem 8rem;
        @media (max-width: 1100px) {
            padding-right: 2rem;
        }

        @media (max-width: 800px) {
            padding: 5rem 2rem;
            margin-bottom: 0;
        }

        .article-title::after {
            content: "";
            display: block;
            width: 100px;
            margin-top: 2rem;
            height: 2px;
            background: var(--pluto-primary-z);
        }

        .article-description {
            color: var(--pluto-gray-l9);
            font-weight: 350;
            margin-top: 2rem;
            margin-bottom: 6rem;

            & + :is(h2, h2.pluto-text) {
                margin-top: 4rem;
            }
        }

        .pluto-tabs-selector {
            margin: 1.5rem 0;
        }

        & video,
        img:not(.diagram img) {
            width: 100%;
            border-radius: 1rem;
            border: var(--pluto-border);
            box-shadow: 0 0 1rem 0 var(--pluto-gray-l4);

            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 2rem 0 rgba(50, 50, 50, 0.1);
            }
        }

        .pluto-divider {
            border-top: var(--pluto-border);
            margin: 5rem 0;

            & + :is(h2, h2.pluto-text) {
                margin-top: 4rem;
            }

            & + :is(h3, h3.pluto-text) {
                margin-top: 3rem;
            }
        }

        .pluto-tabs-selector {
            --pluto-height-medium: 6.5rem;

            .pluto-btn.pluto--height-medium {
                padding: 0 2rem;
            }
        }

        p .pluto-icon {
            vertical-align: middle;
        }

        .pluto-note {
            display: block;
            margin: 4rem 0;
            padding: var(--note-padding-block, 0.5rem)
                var(--note-padding-inline, 3.5rem);
            & > * {
                font-size: var(--pluto-small-size);
                font-family: var(--pluto-font-family);
                font-weight: 450;
                line-height: calc(var(--pluto-small-line-height) * 1.2);
            }
        }

        .pluto-note.compact {
            --note-padding-block: 0.5rem;
            --note-padding-inline: 2rem;
        }

        table {
            width: 100%;
            display: table;
        }

        figure {
            margin: 5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            figcaption {
                font-family: var(--pluto-font-family);
                font-size: var(--pluto-small-size);
                line-height: var(--pluto-small-line-height);
                color: var(--pluto-gray-l8);
                font-style: italic;
                text-align: center;
                text-wrap: balance;
            }
            img {
                margin-bottom: 2rem;
                margin-top: -2rem;
            }
        }
    }
</style>
