---
import Breadcrumb from "@/components/article/Breadcrumb.astro";
import NextPrev from "@/components/NextPrev.astro";
const { title, description, url, next, prev, nextURL, prevURL } = Astro.props;
---

<article transition:animate="none">
    <Breadcrumb url={url} />
    <h1 class="article-title">{title}</h1>
    <h4 class="article-description">{description}</h4>
    <slot />
    <NextPrev prev={prev} next={next} prevURL={prevURL} nextURL={nextURL} />
</article>

<style is:global>
    article {
        position: relative;
        padding: 5rem 8rem;
        flex-basis: 840px;
        flex-shrink: 1;
        flex-grow: 1;
        margin-bottom: 25rem;
        min-width: 0;
        .article-title {
            width: fit-content;
        }

        & .pluto-breadcrumb {
            & .pluto-text-link {
                &:last-child {
                    & .pluto-text {
                        color: var(--pluto-gray-l9);
                    }
                }
                & .pluto-text {
                    font-weight: 375;
                    color: var(--pluto-gray-l6);
                    &:hover {
                        color: var(--pluto-gray-l9) !important;
                    }
                }
                &:hover {
                    text-decoration: none !important;
                }
            }
        }

        & .synnax-icon-caret-right {
            transform: translateY(0px) !important;
            width: 2rem;
            height: 2rem;
            color: var(--pluto-gray-l6);
            &:first-child {
                display: none;
            }
        }

        @media (max-width: 700px) {
            padding: 2rem;
        }

        .article-title::after {
            content: "";
            display: block;
            width: 100px;
            margin-top: 2rem;
            height: 2px;
            background: var(--pluto-primary-z);
        }

        .article-description {
            color: var(--pluto-gray-l8);
            font-weight: 350;
        }

        h1,
        h3,
        h4,
        h5,
        h6,
        p,
        table {
            margin: 3rem 0;
        }

        video,
        img {
            margin: 5rem 0;
        }

        h2 {
            margin: 4rem 0;
        }

        pluto-tabs-selector {
            margin: 1.5rem 0;
        }

        & video,
        img:not(.diagram img) {
            width: 100%;
            border-radius: 1rem !important;
            border: var(--pluto-border-l4);
            box-shadow: 0 0 1rem 0 var(--pluto-gray-l4);

            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 2rem 0 rgba(50, 50, 50, 0.1);
            }
        }

        .pluto-divider {
            border-top: var(--pluto-border-l4);
            margin: 5% 0;
        }

        .pluto-tabs-selector {
            --pluto-height-medium: 6.5rem !important;
        }

        /* Makes icons appear centered in the toolbar */
        p .synnax-icon {
            transform: translateY(2px);
        }

        h3 .synnax-icon {
            transform: translateY(3px);
        }

        .pluto-note {
            display: block;
            & > * {
                font-size: var(--pluto-small-size);
                font-family: var(--pluto-font-family);
                font-weight: 450 !important;
                line-height: calc(var(--pluto-small-line-height) * 1.2);
            }
        }
    }
</style>
