---
import Header from "@/components/Header.astro";
import PageNav from "@/components/PageNav/PageNav.astro";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import { ViewTransitions } from "astro:transitions";
import OnThisPage from "@/components/OnThisPage/OnThisPage.astro";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
import Article from "@/components/article/Article.astro";
const {
    headings,
    frontmatter: { title, heading, description },
} = Astro.props;
---

<html>
    <head>
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ViewTransitions />
    </head>
    <Header />
    <main>
        <section>
            <PageNav />
            <Article title={heading ?? title} description={description}>
                <slot />
            </Article>
            <OnThisPage headings={headings} url={Astro.url} />
        </section>
    </main>
    <Footer />

    <script>
        import { addCodeButtonListeners } from "@/components/code/codeUtil";
        import { startUpdatingIframeHref } from "@/util/iframe";
        addCodeButtonListeners();
        startUpdatingIframeHref();
        document.addEventListener("astro:after-swap", () => {
            addCodeButtonListeners();
            startUpdatingIframeHref();
        });
    </script>

    <script>
        import { getVersion } from "@/util/fetchVersion";
        getVersion().then((version) => {
            const versionElement = document.querySelector(".version");
            if (versionElement == null) return;
            versionElement.innerHTML = "v" + version.split(".").slice(0, -1).join(".");
        });
    </script>

    <style is:global>
        html {
            background: var(--pluto-gray-l0);
            --nav-height: 5rem;
            --max-width: 1400px;
            --astro-code-color-text: var(--pluto-text-color);
            --astro-code-color-background: var(--pluto-gray-l1-40);
            --astro-code-token-comment: var(--pluto-gray-l5);
            --astro-code-token-string-expression: var(--pluto-secondary-m1);
            --astro-code-token-function: #556bf8;
            --astro-code-token-punctuation: var(--pluto-text-color);
            --astro-code-token-keyword: #cc255f;
            --astro-code-token-constant: var(--pluto-text-color);
            --pluto-base-size: 6px;
            --pluto-border-radius: 3px;
            --pluto-border-width: 1px;
            --pluto-schematic-element-stroke-width: 2px;
            --pluto-font-family: "Inter Variable", sans-serif;
            --pluto-h1-size: 8rem;
            --pluto-h1-weight: 450;
            --pluto-h1-line-height: 150%;
            --pluto-h2-size: 5.5rem;
            --pluto-h2-weight: 500;
            --pluto-h2-line-height: 150%;
            --pluto-h3-size: 4.5rem;
            --pluto-h3-weight: 450;
            --pluto-h3-line-height: 150%;
            --pluto-h4-size: 3rem;
            --pluto-h4-weight: 550;
            --pluto-h4-line-height: 150%;
            --pluto-h5-size: 2.666rem;
            --pluto-h5-weight: 450;
            --pluto-h5-line-height: 150%;
            --pluto-h5-text-transform: none;
            --pluto-p-size: 2.666rem;
            --pluto-p-weight: 350;
            --pluto-p-line-height: 4.666rem;
            --pluto-small-size: 2.333rem;
            --pluto-small-weight: 350;
            --pluto-small-line-height: 150%;
            --pluto-tiny-size: 2.166rem;
            --pluto-tiny-weight: 350;
            --pluto-tiny-line-height: 150%;
            --pluto-height-large: 5.75rem !important;
            --pluto-height-medium: 5rem !important;
            --pluto-dark-text-on-primary: white;
            --pluto-dark-gray-l0: #020202;
            --pluto-dark-gray-l0-95: #020202f2;
            --pluto-dark-gray-l0-90: #020202e5;
            --pluto-dark-gray-l0-85: #020202d8;
            --pluto-dark-gray-l0-80: #020202cc;
            --pluto-dark-gray-l0-75: #020202bf;
            --pluto-dark-gray-l0-70: #020202b2;
            --pluto-dark-gray-l0-65: #020202a5;
            --pluto-dark-gray-l0-60: #02020299;
            --pluto-dark-gray-l0-55: #0202028c;
            --pluto-dark-gray-l0-50: #0202027f;
            --pluto-dark-gray-l0-45: #02020272;
            --pluto-dark-gray-l0-40: #02020266;
            --pluto-dark-gray-l0-35: #02020259;
            --pluto-dark-gray-l0-30: #0202024c;
            --pluto-dark-gray-l0-25: #0202023f;
            --pluto-dark-gray-l0-20: #02020233;
            --pluto-dark-gray-l0-15: #02020226;
            --pluto-dark-gray-l0-10: #02020219;
            --pluto-dark-gray-l0-5: #0202020c;
            --pluto-dark-gray-l1: #111111;
            --pluto-dark-gray-l1-95: #111111f2;
            --pluto-dark-gray-l1-90: #111111e5;
            --pluto-dark-gray-l1-85: #111111d8;
            --pluto-dark-gray-l1-80: #111111cc;
            --pluto-dark-gray-l1-75: #111111bf;
            --pluto-dark-gray-l1-70: #111111b2;
            --pluto-dark-gray-l1-65: #111111a5;
            --pluto-dark-gray-l1-60: #11111199;
            --pluto-dark-gray-l1-55: #1111118c;
            --pluto-dark-gray-l1-50: #1111117f;
            --pluto-dark-gray-l1-45: #11111172;
            --pluto-dark-gray-l1-40: #11111166;
            --pluto-dark-gray-l1-35: #11111159;
            --pluto-dark-gray-l1-30: #1111114c;
            --pluto-dark-gray-l1-25: #1111113f;
            --pluto-dark-gray-l1-20: #11111133;
            --pluto-dark-gray-l1-15: #11111126;
            --pluto-dark-gray-l1-10: #11111119;
            --pluto-dark-gray-l1-5: #1111110c;
            --pluto-dark-gray-l2: #191919;
            --pluto-dark-gray-l2-95: #191919f2;
            --pluto-dark-gray-l2-90: #191919e5;
            --pluto-dark-gray-l2-85: #191919d8;
            --pluto-dark-gray-l2-80: #191919cc;
            --pluto-dark-gray-l2-75: #191919bf;
            --pluto-dark-gray-l2-70: #191919b2;
            --pluto-dark-gray-l2-65: #191919a5;
            --pluto-dark-gray-l2-60: #19191999;
            --pluto-dark-gray-l2-55: #1919198c;
            --pluto-dark-gray-l2-50: #1919197f;
            --pluto-dark-gray-l2-45: #19191972;
            --pluto-dark-gray-l2-40: #19191966;
            --pluto-dark-gray-l2-35: #19191959;
            --pluto-dark-gray-l2-30: #1919194c;
            --pluto-dark-gray-l2-25: #1919193f;
            --pluto-dark-gray-l2-20: #19191933;
            --pluto-dark-gray-l2-15: #19191926;
            --pluto-dark-gray-l2-10: #19191919;
            --pluto-dark-gray-l2-5: #1919190c;
            --pluto-dark-gray-l3: #212121;
            --pluto-dark-gray-l3-95: #2a2a2af2;
            --pluto-dark-gray-l3-90: #2a2a2ae5;
            --pluto-dark-gray-l3-85: #2a2a2ad8;
            --pluto-dark-gray-l3-80: #2a2a2acc;
            --pluto-dark-gray-l3-75: #2a2a2abf;
            --pluto-dark-gray-l3-70: #2a2a2ab2;
            --pluto-dark-gray-l3-65: #2a2a2aa5;
            --pluto-dark-gray-l3-60: #2a2a2a99;
            --pluto-dark-gray-l3-55: #2a2a2a8c;
            --pluto-dark-gray-l3-50: #2a2a2a7f;
            --pluto-dark-gray-l3-45: #2a2a2a72;
            --pluto-dark-gray-l3-40: #2a2a2a66;
            --pluto-dark-gray-l3-35: #2a2a2a59;
            --pluto-dark-gray-l3-30: #2a2a2a4c;
            --pluto-dark-gray-l3-25: #2a2a2a3f;
            --pluto-dark-gray-l3-20: #2a2a2a33;
            --pluto-dark-gray-l3-15: #2a2a2a26;
            --pluto-dark-gray-l3-10: #2a2a2a19;
            --pluto-dark-gray-l3-5: #2a2a2a0c;
            --pluto-dark-gray-l4: #313131;
            --pluto-dark-gray-l5: #515151;
            --pluto-dark-gray-l5-95: #515151f2;
            --pluto-dark-gray-l5-90: #515151e5;
            --pluto-dark-gray-l5-85: #515151d8;
            --pluto-dark-gray-l5-80: #515151cc;
            --pluto-dark-gray-l5-75: #515151bf;
            --pluto-dark-gray-l5-70: #515151b2;
            --pluto-dark-gray-l5-65: #515151a5;
            --pluto-dark-gray-l5-60: #51515199;
            --pluto-dark-gray-l5-55: #5151518c;
            --pluto-dark-gray-l5-50: #5151517f;
            --pluto-dark-gray-l5-45: #51515172;
            --pluto-dark-gray-l5-40: #51515166;
            --pluto-dark-gray-l5-35: #51515159;
            --pluto-dark-gray-l5-30: #5151514c;
            --pluto-dark-gray-l5-25: #5151513f;
            --pluto-dark-gray-l5-20: #51515133;
            --pluto-dark-gray-l5-15: #51515126;
            --pluto-dark-gray-l5-10: #51515119;
            --pluto-dark-gray-l5-5: #5151510c;
            --pluto-dark-gray-l6: #7f7f7f;
            --pluto-dark-gray-l6-95: #7f7f7ff2;
            --pluto-dark-gray-l6-90: #7f7f7fe5;
            --pluto-dark-gray-l6-85: #7f7f7fd8;
            --pluto-dark-gray-l6-80: #7f7f7fcc;
            --pluto-dark-gray-l6-75: #7f7f7fbf;
            --pluto-dark-gray-l6-70: #7f7f7fb2;
            --pluto-dark-gray-l6-65: #7f7f7fa5;
            --pluto-dark-gray-l6-60: #7f7f7f99;
            --pluto-dark-gray-l6-55: #7f7f7f8c;
            --pluto-dark-gray-l6-50: #7f7f7f7f;
            --pluto-dark-gray-l6-45: #7f7f7f72;
            --pluto-dark-gray-l6-40: #7f7f7f66;
            --pluto-dark-gray-l6-35: #7f7f7f59;
            --pluto-dark-gray-l6-30: #7f7f7f4c;
            --pluto-dark-gray-l6-25: #7f7f7f3f;
            --pluto-dark-gray-l6-20: #7f7f7f33;
            --pluto-dark-gray-l6-15: #7f7f7f26;
            --pluto-dark-gray-l6-10: #7f7f7f19;
            --pluto-dark-gray-l6-5: #7f7f7f0c;
            --pluto-dark-gray-l7: #9d9d9d;
            --pluto-dark-gray-l7-95: #9d9d9df2;
            --pluto-dark-gray-l7-90: #9d9d9de5;
            --pluto-dark-gray-l7-85: #9d9d9dd8;
            --pluto-dark-gray-l7-80: #9d9d9dcc;
            --pluto-dark-gray-l7-75: #9d9d9dbf;
            --pluto-dark-gray-l7-70: #9d9d9db2;
            --pluto-dark-gray-l7-65: #9d9d9da5;
            --pluto-dark-gray-l7-60: #9d9d9d99;
            --pluto-dark-gray-l7-55: #9d9d9d8c;
            --pluto-dark-gray-l7-50: #9d9d9d7f;
            --pluto-dark-gray-l7-45: #9d9d9d72;
            --pluto-dark-gray-l7-40: #9d9d9d66;
            --pluto-dark-gray-l7-35: #9d9d9d59;
            --pluto-dark-gray-l7-30: #9d9d9d4c;
            --pluto-dark-gray-l7-25: #9d9d9d3f;
            --pluto-dark-gray-l7-20: #9d9d9d33;
            --pluto-dark-gray-l7-15: #9d9d9d26;
            --pluto-dark-gray-l7-10: #9d9d9d19;
            --pluto-dark-gray-l7-5: #9d9d9d0c;
            --pluto-dark-gray-l8: #bfbfbf;
            --pluto-dark-gray-l9: #ededed;
            --pluto-dark-gray-l9-95: #edededf2;
            --pluto-dark-gray-l9-90: #ededede5;
            --pluto-dark-gray-l9-85: #edededd8;
            --pluto-dark-gray-l9-80: #edededcc;
            --pluto-dark-gray-l9-75: #edededbf;
            --pluto-dark-gray-l9-70: #edededb2;
            --pluto-dark-gray-l9-65: #edededa5;
            --pluto-dark-gray-l9-60: #ededed99;
            --pluto-dark-gray-l9-55: #ededed8c;
            --pluto-dark-gray-l9-50: #ededed7f;
            --pluto-dark-gray-l9-45: #ededed72;
            --pluto-dark-gray-l9-40: #ededed66;
            --pluto-dark-gray-l9-35: #ededed59;
            --pluto-dark-gray-l9-30: #ededed4c;
            --pluto-dark-gray-l9-25: #ededed3f;
            --pluto-dark-gray-l9-20: #ededed33;
            --pluto-dark-gray-l9-15: #ededed26;
            --pluto-dark-gray-l9-10: #ededed19;
            --pluto-dark-gray-l9-5: #ededed0c;
            --pluto-dark-gray-l10: #fdfdfd;
            --pluto-text-on-primary: #ededed;
            @media (prefers-color-scheme: dark) {
                --pluto-primary-m1: #164fa0;
                --pluto-primary-z: #3774d0;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-z-95: #3774d0f2;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-85: #3774d0d8;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-75: #3774d0bf;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-65: #3774d0a5;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-55: #3774d08c;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-45: #3774d072;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-35: #3774d059;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-25: #3774d03f;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-15: #3774d026;
                --pluto-primary-z-10: #3774d019;
                --pluto-primary-z-5: #3774d00c;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-95: #50c878f2;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-85: #50c878d8;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-75: #50c878bf;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-65: #50c878a5;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-55: #50c8788c;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-45: #50c87872;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-35: #50c87859;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-25: #50c8783f;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-15: #50c87826;
                --pluto-secondary-z-10: #50c87819;
                --pluto-secondary-z-5: #50c8780c;
                --pluto-gray-l0: #020202;
                --pluto-gray-l0-rgb: 2, 2, 2;
                --pluto-gray-l0-95: #020202f2;
                --pluto-gray-l0-90: #020202e5;
                --pluto-gray-l0-85: #020202d8;
                --pluto-gray-l0-80: #020202cc;
                --pluto-gray-l0-75: #020202bf;
                --pluto-gray-l0-70: #020202b2;
                --pluto-gray-l0-65: #020202a5;
                --pluto-gray-l0-60: #02020299;
                --pluto-gray-l0-55: #0202028c;
                --pluto-gray-l0-50: #0202027f;
                --pluto-gray-l0-45: #02020272;
                --pluto-gray-l0-40: #02020266;
                --pluto-gray-l0-35: #02020259;
                --pluto-gray-l0-30: #0202024c;
                --pluto-gray-l0-25: #0202023f;
                --pluto-gray-l0-20: #02020233;
                --pluto-gray-l0-15: #02020226;
                --pluto-gray-l0-10: #02020219;
                --pluto-gray-l0-5: #0202020c;
                --pluto-gray-l1: #111111;
                --pluto-gray-l1-95: #111111f2;
                --pluto-gray-l1-90: #111111e5;
                --pluto-gray-l1-85: #111111d8;
                --pluto-gray-l1-80: #111111cc;
                --pluto-gray-l1-75: #111111bf;
                --pluto-gray-l1-70: #111111b2;
                --pluto-gray-l1-65: #111111a5;
                --pluto-gray-l1-60: #11111199;
                --pluto-gray-l1-55: #1111118c;
                --pluto-gray-l1-50: #1111117f;
                --pluto-gray-l1-45: #11111172;
                --pluto-gray-l1-40: #11111166;
                --pluto-gray-l1-35: #11111159;
                --pluto-gray-l1-30: #1111114c;
                --pluto-gray-l1-25: #1111113f;
                --pluto-gray-l1-20: #11111133;
                --pluto-gray-l1-15: #11111126;
                --pluto-gray-l1-10: #11111119;
                --pluto-gray-l1-5: #1111110c;
                --pluto-gray-l2: #191919;
                --pluto-gray-l2-95: #191919f2;
                --pluto-gray-l2-90: #191919e5;
                --pluto-gray-l2-85: #191919d8;
                --pluto-gray-l2-80: #191919cc;
                --pluto-gray-l2-75: #191919bf;
                --pluto-gray-l2-70: #191919b2;
                --pluto-gray-l2-65: #191919a5;
                --pluto-gray-l2-60: #19191999;
                --pluto-gray-l2-55: #1919198c;
                --pluto-gray-l2-50: #1919197f;
                --pluto-gray-l2-45: #19191972;
                --pluto-gray-l2-40: #19191966;
                --pluto-gray-l2-35: #19191959;
                --pluto-gray-l2-30: #1919194c;
                --pluto-gray-l2-25: #1919193f;
                --pluto-gray-l2-20: #19191933;
                --pluto-gray-l2-15: #19191926;
                --pluto-gray-l2-10: #19191919;
                --pluto-gray-l2-5: #1919190c;
                --pluto-gray-l3: #212121;
                --pluto-gray-l3-95: #2a2a2af2;
                --pluto-gray-l3-90: #2a2a2ae5;
                --pluto-gray-l3-85: #2a2a2ad8;
                --pluto-gray-l3-80: #2a2a2acc;
                --pluto-gray-l3-75: #2a2a2abf;
                --pluto-gray-l3-70: #2a2a2ab2;
                --pluto-gray-l3-65: #2a2a2aa5;
                --pluto-gray-l3-60: #2a2a2a99;
                --pluto-gray-l3-55: #2a2a2a8c;
                --pluto-gray-l3-50: #2a2a2a7f;
                --pluto-gray-l3-45: #2a2a2a72;
                --pluto-gray-l3-40: #2a2a2a66;
                --pluto-gray-l3-35: #2a2a2a59;
                --pluto-gray-l3-30: #2a2a2a4c;
                --pluto-gray-l3-25: #2a2a2a3f;
                --pluto-gray-l3-20: #2a2a2a33;
                --pluto-gray-l3-15: #2a2a2a26;
                --pluto-gray-l3-10: #2a2a2a19;
                --pluto-gray-l3-5: #2a2a2a0c;
                --pluto-gray-l4: #313131;
                --pluto-gray-l5: #515151;
                --pluto-gray-l5-95: #515151f2;
                --pluto-gray-l5-90: #515151e5;
                --pluto-gray-l5-85: #515151d8;
                --pluto-gray-l5-80: #515151cc;
                --pluto-gray-l5-75: #515151bf;
                --pluto-gray-l5-70: #515151b2;
                --pluto-gray-l5-65: #515151a5;
                --pluto-gray-l5-60: #51515199;
                --pluto-gray-l5-55: #5151518c;
                --pluto-gray-l5-50: #5151517f;
                --pluto-gray-l5-45: #51515172;
                --pluto-gray-l5-40: #51515166;
                --pluto-gray-l5-35: #51515159;
                --pluto-gray-l5-30: #5151514c;
                --pluto-gray-l5-25: #5151513f;
                --pluto-gray-l5-20: #51515133;
                --pluto-gray-l5-15: #51515126;
                --pluto-gray-l5-10: #51515119;
                --pluto-gray-l5-5: #5151510c;
                --pluto-gray-l6: #7f7f7f;
                --pluto-gray-l6-95: #7f7f7ff2;
                --pluto-gray-l6-90: #7f7f7fe5;
                --pluto-gray-l6-85: #7f7f7fd8;
                --pluto-gray-l6-80: #7f7f7fcc;
                --pluto-gray-l6-75: #7f7f7fbf;
                --pluto-gray-l6-70: #7f7f7fb2;
                --pluto-gray-l6-65: #7f7f7fa5;
                --pluto-gray-l6-60: #7f7f7f99;
                --pluto-gray-l6-55: #7f7f7f8c;
                --pluto-gray-l6-50: #7f7f7f7f;
                --pluto-gray-l6-45: #7f7f7f72;
                --pluto-gray-l6-40: #7f7f7f66;
                --pluto-gray-l6-35: #7f7f7f59;
                --pluto-gray-l6-30: #7f7f7f4c;
                --pluto-gray-l6-25: #7f7f7f3f;
                --pluto-gray-l6-20: #7f7f7f33;
                --pluto-gray-l6-15: #7f7f7f26;
                --pluto-gray-l6-10: #7f7f7f19;
                --pluto-gray-l6-5: #7f7f7f0c;
                --pluto-gray-l7: #9d9d9d;
                --pluto-gray-l7-95: #9d9d9df2;
                --pluto-gray-l7-90: #9d9d9de5;
                --pluto-gray-l7-85: #9d9d9dd8;
                --pluto-gray-l7-80: #9d9d9dcc;
                --pluto-gray-l7-75: #9d9d9dbf;
                --pluto-gray-l7-70: #9d9d9db2;
                --pluto-gray-l7-65: #9d9d9da5;
                --pluto-gray-l7-60: #9d9d9d99;
                --pluto-gray-l7-55: #9d9d9d8c;
                --pluto-gray-l7-50: #9d9d9d7f;
                --pluto-gray-l7-45: #9d9d9d72;
                --pluto-gray-l7-40: #9d9d9d66;
                --pluto-gray-l7-35: #9d9d9d59;
                --pluto-gray-l7-30: #9d9d9d4c;
                --pluto-gray-l7-25: #9d9d9d3f;
                --pluto-gray-l7-20: #9d9d9d33;
                --pluto-gray-l7-15: #9d9d9d26;
                --pluto-gray-l7-10: #9d9d9d19;
                --pluto-gray-l7-5: #9d9d9d0c;
                --pluto-gray-l8: #bfbfbf;
                --pluto-gray-l9: #ededed;
                --pluto-gray-l9-95: #edededf2;
                --pluto-gray-l9-90: #ededede5;
                --pluto-gray-l9-85: #edededd8;
                --pluto-gray-l9-80: #edededcc;
                --pluto-gray-l9-75: #edededbf;
                --pluto-gray-l9-70: #edededb2;
                --pluto-gray-l9-65: #edededa5;
                --pluto-gray-l9-60: #ededed99;
                --pluto-gray-l9-55: #ededed8c;
                --pluto-gray-l9-50: #ededed7f;
                --pluto-gray-l9-45: #ededed72;
                --pluto-gray-l9-40: #ededed66;
                --pluto-gray-l9-35: #ededed59;
                --pluto-gray-l9-30: #ededed4c;
                --pluto-gray-l9-25: #ededed3f;
                --pluto-gray-l9-20: #ededed33;
                --pluto-gray-l9-15: #ededed26;
                --pluto-gray-l9-10: #ededed19;
                --pluto-gray-l9-5: #ededed0c;
                --pluto-gray-l10: #fdfdfd;
                --pluto-logo-color: var(--pluto-text-color);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-z-95: #f5242ef2;
                --pluto-error-z-90: #f5242ee5;
                --pluto-error-z-85: #f5242ed8;
                --pluto-error-z-80: #f5242ecc;
                --pluto-error-z-75: #f5242ebf;
                --pluto-error-z-70: #f5242eb2;
                --pluto-error-z-65: #f5242ea5;
                --pluto-error-z-60: #f5242e99;
                --pluto-error-z-55: #f5242e8c;
                --pluto-error-z-50: #f5242e7f;
                --pluto-error-z-45: #f5242e72;
                --pluto-error-z-40: #f5242e66;
                --pluto-error-z-35: #f5242e59;
                --pluto-error-z-30: #f5242e4c;
                --pluto-error-z-25: #f5242e3f;
                --pluto-error-z-20: #f5242e33;
                --pluto-error-z-15: #f5242e26;
                --pluto-error-z-10: #f5242e19;
                --pluto-error-z-5: #f5242e0c;
                --pluto-error-p1: #f7555d;
                --pluto-warning-m1: #cc8f00;
                --pluto-warning-z: #ffb300;
                --pluto-warning-z-95: #ffb300f2;
                --pluto-warning-z-90: #ffb300e5;
                --pluto-warning-z-85: #ffb300d8;
                --pluto-warning-z-80: #ffb300cc;
                --pluto-warning-z-75: #ffb300bf;
                --pluto-warning-z-70: #ffb300b2;
                --pluto-warning-z-65: #ffb300a5;
                --pluto-warning-z-60: #ffb30099;
                --pluto-warning-z-55: #ffb3008c;
                --pluto-warning-z-50: #ffb3007f;
                --pluto-warning-z-45: #ffb30072;
                --pluto-warning-z-40: #ffb30066;
                --pluto-warning-z-35: #ffb30059;
                --pluto-warning-z-30: #ffb3004c;
                --pluto-warning-z-25: #ffb3003f;
                --pluto-warning-z-20: #ffb30033;
                --pluto-warning-z-15: #ffb30026;
                --pluto-warning-z-10: #ffb30019;
                --pluto-warning-z-5: #ffb3000c;
                --pluto-warning-p1: #ffc94d;
                --pluto-success-m1: #38b261;
                --pluto-success-z: #50c878;
                --pluto-success-z-95: #50c878f2;
                --pluto-success-z-90: #50c878e5;
                --pluto-success-z-85: #50c878d8;
                --pluto-success-z-80: #50c878cc;
                --pluto-success-z-75: #50c878bf;
                --pluto-success-z-70: #50c878b2;
                --pluto-success-z-65: #50c878a5;
                --pluto-success-z-60: #50c87899;
                --pluto-success-z-55: #50c8788c;
                --pluto-success-z-50: #50c8787f;
                --pluto-success-z-45: #50c87872;
                --pluto-success-z-40: #50c87866;
                --pluto-success-z-35: #50c87859;
                --pluto-success-z-30: #50c8784c;
                --pluto-success-z-25: #50c8783f;
                --pluto-success-z-20: #50c87833;
                --pluto-success-z-15: #50c87826;
                --pluto-success-z-10: #50c87819;
                --pluto-success-z-5: #50c8780c;
                --pluto-success-p1: #73d393;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #ededed;
                --pluto-text-color-rgb: 237, 237, 237;
                --pluto-border-color: #1a1a1a;

                --pluto-theme-name: Synnax Dark;
                --pluto-theme-key: synnax-dark;
            }

            @media (prefers-color-scheme: light) {
                --pluto-theme-name: Synnax Light;
                --pluto-theme-key: synnax-light;
                --pluto-primary-m1: #164fa0;
                --pluto-primary-z: #3774d0;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-z-95: #3774d0f2;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-85: #3774d0d8;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-75: #3774d0bf;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-65: #3774d0a5;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-55: #3774d08c;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-45: #3774d072;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-35: #3774d059;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-25: #3774d03f;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-15: #3774d026;
                --pluto-primary-z-10: #3774d019;
                --pluto-primary-z-5: #3774d00c;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-95: #50c878f2;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-85: #50c878d8;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-75: #50c878bf;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-65: #50c878a5;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-55: #50c8788c;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-45: #50c87872;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-35: #50c87859;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-25: #50c8783f;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-15: #50c87826;
                --pluto-secondary-z-10: #50c87819;
                --pluto-secondary-z-5: #50c8780c;
                --pluto-gray-l0: #fcfcfc;
                --pluto-gray-l0-rgb: 252, 252, 252;
                --pluto-gray-l0-95: #fcfcfcf2;
                --pluto-gray-l0-90: #fcfcfce5;
                --pluto-gray-l0-85: #fcfcfcd8;
                --pluto-gray-l0-80: #fcfcfccc;
                --pluto-gray-l0-75: #fcfcfcbf;
                --pluto-gray-l0-70: #fcfcfcb2;
                --pluto-gray-l0-65: #fcfcfca5;
                --pluto-gray-l0-60: #fcfcfc99;
                --pluto-gray-l0-55: #fcfcfc8c;
                --pluto-gray-l0-50: #fcfcfc7f;
                --pluto-gray-l0-45: #fcfcfc72;
                --pluto-gray-l0-40: #fcfcfc66;
                --pluto-gray-l0-35: #fcfcfc59;
                --pluto-gray-l0-30: #fcfcfc4c;
                --pluto-gray-l0-25: #fcfcfc3f;
                --pluto-gray-l0-20: #fcfcfc33;
                --pluto-gray-l0-15: #fcfcfc26;
                --pluto-gray-l0-10: #fcfcfc19;
                --pluto-gray-l0-5: #fcfcfc0c;
                --pluto-gray-l1: #f9f9f9;
                --pluto-gray-l1-95: #f9f9f9f2;
                --pluto-gray-l1-90: #f9f9f9e5;
                --pluto-gray-l1-85: #f9f9f9d8;
                --pluto-gray-l1-80: #f9f9f9cc;
                --pluto-gray-l1-75: #f9f9f9bf;
                --pluto-gray-l1-70: #f9f9f9b2;
                --pluto-gray-l1-65: #f9f9f9a5;
                --pluto-gray-l1-60: #f9f9f999;
                --pluto-gray-l1-55: #f9f9f98c;
                --pluto-gray-l1-50: #f9f9f97f;
                --pluto-gray-l1-45: #f9f9f972;
                --pluto-gray-l1-40: #f9f9f966;
                --pluto-gray-l1-35: #f9f9f959;
                --pluto-gray-l1-30: #f9f9f94c;
                --pluto-gray-l1-25: #f9f9f93f;
                --pluto-gray-l1-20: #f9f9f933;
                --pluto-gray-l1-15: #f9f9f926;
                --pluto-gray-l1-10: #f9f9f919;
                --pluto-gray-l1-5: #f9f9f90c;
                --pluto-gray-l2: #f4f4f4;
                --pluto-gray-l2-95: #f4f4f4f2;
                --pluto-gray-l2-90: #f4f4f4e5;
                --pluto-gray-l2-85: #f4f4f4d8;
                --pluto-gray-l2-80: #f4f4f4cc;
                --pluto-gray-l2-75: #f4f4f4bf;
                --pluto-gray-l2-70: #f4f4f4b2;
                --pluto-gray-l2-65: #f4f4f4a5;
                --pluto-gray-l2-60: #f4f4f499;
                --pluto-gray-l2-55: #f4f4f48c;
                --pluto-gray-l2-50: #f4f4f47f;
                --pluto-gray-l2-45: #f4f4f472;
                --pluto-gray-l2-40: #f4f4f466;
                --pluto-gray-l2-35: #f4f4f459;
                --pluto-gray-l2-30: #f4f4f44c;
                --pluto-gray-l2-25: #f4f4f43f;
                --pluto-gray-l2-20: #f4f4f433;
                --pluto-gray-l2-15: #f4f4f426;
                --pluto-gray-l2-10: #f4f4f419;
                --pluto-gray-l2-5: #f4f4f40c;
                --pluto-gray-l3: #ededed;
                --pluto-gray-l3-95: #edededf2;
                --pluto-gray-l3-90: #ededede5;
                --pluto-gray-l3-85: #edededd8;
                --pluto-gray-l3-80: #edededcc;
                --pluto-gray-l3-75: #edededbf;
                --pluto-gray-l3-70: #edededb2;
                --pluto-gray-l3-65: #edededa5;
                --pluto-gray-l3-60: #ededed99;
                --pluto-gray-l3-55: #ededed8c;
                --pluto-gray-l3-50: #ededed7f;
                --pluto-gray-l3-45: #ededed72;
                --pluto-gray-l3-40: #ededed66;
                --pluto-gray-l3-35: #ededed59;
                --pluto-gray-l3-30: #ededed4c;
                --pluto-gray-l3-25: #ededed3f;
                --pluto-gray-l3-20: #ededed33;
                --pluto-gray-l3-15: #ededed26;
                --pluto-gray-l3-10: #ededed19;
                --pluto-gray-l3-5: #ededed0c;
                --pluto-gray-l4: #d9d9d9;
                --pluto-gray-l5: #adadad;
                --pluto-gray-l5-95: #adadadf2;
                --pluto-gray-l5-90: #adadade5;
                --pluto-gray-l5-85: #adadadd8;
                --pluto-gray-l5-80: #adadadcc;
                --pluto-gray-l5-75: #adadadbf;
                --pluto-gray-l5-70: #adadadb2;
                --pluto-gray-l5-65: #adadada5;
                --pluto-gray-l5-60: #adadad99;
                --pluto-gray-l5-55: #adadad8c;
                --pluto-gray-l5-50: #adadad7f;
                --pluto-gray-l5-45: #adadad72;
                --pluto-gray-l5-40: #adadad66;
                --pluto-gray-l5-35: #adadad59;
                --pluto-gray-l5-30: #adadad4c;
                --pluto-gray-l5-25: #adadad3f;
                --pluto-gray-l5-20: #adadad33;
                --pluto-gray-l5-15: #adadad26;
                --pluto-gray-l5-10: #adadad19;
                --pluto-gray-l5-5: #adadad0c;
                --pluto-gray-l6: #878787;
                --pluto-gray-l6-95: #878787f2;
                --pluto-gray-l6-90: #878787e5;
                --pluto-gray-l6-85: #878787d8;
                --pluto-gray-l6-80: #878787cc;
                --pluto-gray-l6-75: #878787bf;
                --pluto-gray-l6-70: #878787b2;
                --pluto-gray-l6-65: #878787a5;
                --pluto-gray-l6-60: #87878799;
                --pluto-gray-l6-55: #8787878c;
                --pluto-gray-l6-50: #8787877f;
                --pluto-gray-l6-45: #87878772;
                --pluto-gray-l6-40: #87878766;
                --pluto-gray-l6-35: #87878759;
                --pluto-gray-l6-30: #8787874c;
                --pluto-gray-l6-25: #8787873f;
                --pluto-gray-l6-20: #87878733;
                --pluto-gray-l6-15: #87878726;
                --pluto-gray-l6-10: #87878719;
                --pluto-gray-l6-5: #8787870c;
                --pluto-gray-l7: #616161;
                --pluto-gray-l7-95: #616161f2;
                --pluto-gray-l7-90: #616161e5;
                --pluto-gray-l7-85: #616161d8;
                --pluto-gray-l7-80: #616161cc;
                --pluto-gray-l7-75: #616161bf;
                --pluto-gray-l7-70: #616161b2;
                --pluto-gray-l7-65: #616161a5;
                --pluto-gray-l7-60: #61616199;
                --pluto-gray-l7-55: #6161618c;
                --pluto-gray-l7-50: #6161617f;
                --pluto-gray-l7-45: #61616172;
                --pluto-gray-l7-40: #61616166;
                --pluto-gray-l7-35: #61616159;
                --pluto-gray-l7-30: #6161614c;
                --pluto-gray-l7-25: #6161613f;
                --pluto-gray-l7-20: #61616133;
                --pluto-gray-l7-15: #61616126;
                --pluto-gray-l7-10: #61616119;
                --pluto-gray-l7-5: #6161610c;
                --pluto-gray-l8: #404040;
                --pluto-gray-l9: #1c1c1c;
                --pluto-gray-l9-95: #1c1c1cf2;
                --pluto-gray-l9-90: #1c1c1ce5;
                --pluto-gray-l9-85: #1c1c1cd8;
                --pluto-gray-l9-80: #1c1c1ccc;
                --pluto-gray-l9-75: #1c1c1cbf;
                --pluto-gray-l9-70: #1c1c1cb2;
                --pluto-gray-l9-65: #1c1c1ca5;
                --pluto-gray-l9-60: #1c1c1c99;
                --pluto-gray-l9-55: #1c1c1c8c;
                --pluto-gray-l9-50: #1c1c1c7f;
                --pluto-gray-l9-45: #1c1c1c72;
                --pluto-gray-l9-40: #1c1c1c66;
                --pluto-gray-l9-35: #1c1c1c59;
                --pluto-gray-l9-30: #1c1c1c4c;
                --pluto-gray-l9-25: #1c1c1c3f;
                --pluto-gray-l9-20: #1c1c1c33;
                --pluto-gray-l9-15: #1c1c1c26;
                --pluto-gray-l9-10: #1c1c1c19;
                --pluto-gray-l9-5: #1c1c1c0c;
                --pluto-gray-l10: #050505;
                --pluto-logo-color: url(\#synnax-linear-gradient);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-z-95: #f5242ef2;
                --pluto-error-z-90: #f5242ee5;
                --pluto-error-z-85: #f5242ed8;
                --pluto-error-z-80: #f5242ecc;
                --pluto-error-z-75: #f5242ebf;
                --pluto-error-z-70: #f5242eb2;
                --pluto-error-z-65: #f5242ea5;
                --pluto-error-z-60: #f5242e99;
                --pluto-error-z-55: #f5242e8c;
                --pluto-error-z-50: #f5242e7f;
                --pluto-error-z-45: #f5242e72;
                --pluto-error-z-40: #f5242e66;
                --pluto-error-z-35: #f5242e59;
                --pluto-error-z-30: #f5242e4c;
                --pluto-error-z-25: #f5242e3f;
                --pluto-error-z-20: #f5242e33;
                --pluto-error-z-15: #f5242e26;
                --pluto-error-z-10: #f5242e19;
                --pluto-error-z-5: #f5242e0c;
                --pluto-error-p1: #f7555d;
                --pluto-warning-m1: #cc8f00;
                --pluto-warning-z: #ffb300;
                --pluto-warning-z-95: #ffb300f2;
                --pluto-warning-z-90: #ffb300e5;
                --pluto-warning-z-85: #ffb300d8;
                --pluto-warning-z-80: #ffb300cc;
                --pluto-warning-z-75: #ffb300bf;
                --pluto-warning-z-70: #ffb300b2;
                --pluto-warning-z-65: #ffb300a5;
                --pluto-warning-z-60: #ffb30099;
                --pluto-warning-z-55: #ffb3008c;
                --pluto-warning-z-50: #ffb3007f;
                --pluto-warning-z-45: #ffb30072;
                --pluto-warning-z-40: #ffb30066;
                --pluto-warning-z-35: #ffb30059;
                --pluto-warning-z-30: #ffb3004c;
                --pluto-warning-z-25: #ffb3003f;
                --pluto-warning-z-20: #ffb30033;
                --pluto-warning-z-15: #ffb30026;
                --pluto-warning-z-10: #ffb30019;
                --pluto-warning-z-5: #ffb3000c;
                --pluto-warning-p1: #ffc94d;
                --pluto-success-m1: #38b261;
                --pluto-success-z: #50c878;
                --pluto-success-z-95: #50c878f2;
                --pluto-success-z-90: #50c878e5;
                --pluto-success-z-85: #50c878d8;
                --pluto-success-z-80: #50c878cc;
                --pluto-success-z-75: #50c878bf;
                --pluto-success-z-70: #50c878b2;
                --pluto-success-z-65: #50c878a5;
                --pluto-success-z-60: #50c87899;
                --pluto-success-z-55: #50c8788c;
                --pluto-success-z-50: #50c8787f;
                --pluto-success-z-45: #50c87872;
                --pluto-success-z-40: #50c87866;
                --pluto-success-z-35: #50c87859;
                --pluto-success-z-30: #50c8784c;
                --pluto-success-z-25: #50c8783f;
                --pluto-success-z-20: #50c87833;
                --pluto-success-z-15: #50c87826;
                --pluto-success-z-10: #50c87819;
                --pluto-success-z-5: #50c8780c;
                --pluto-success-p1: #73d393;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #1c1c1c;
                --pluto-text-color-rgb: 28, 28, 28;
                --pluto-text-on-primary: #fcfcfc;
                --pluto-border-color: #ededed;
                --pluto-logo-color: url(#synnax-linear-gradient);
            }
        }

        * {
            scroll-margin: 20rem;
            box-sizing: border-box;
        }

        body {
            height: fit-content !important;
            margin: 0;
        }

        main {
            position: relative;
            min-height: calc(100vh - 30rem);
            & > section {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0 2rem;
                max-width: 1340px;
            }
            @media (max-width: 768px) {
                & > section {
                    flex-direction: column;
                }
            }
        }

        nav {
            position: sticky;
            top: 22rem;
            height: 100%;
            & p,
            small {
                white-space: normal !important;
            }
        }
        .styled-scrollbar {
            &::-webkit-scrollbar {
                width: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--pluto-border-color);
                border-radius: 2px;
            }
        }

        a {
            color: var(--pluto-primary-p1);
            text-decoration: none;
        }

        a:hover:not(.pluto-btn) {
            text-decoration: underline;
        }

        li {
            margin: 0.5rem;
        }

        code:not(.astro-code code) {
            padding: 0.25rem 0.75rem;
            background: var(--pluto-gray-l2);
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
            border-radius: 0.5rem;
        }

        & code:not(:is(h1, h2, h3, h4, h5, h6) code) {
            font-size: var(--pluto-tiny-size);
            line-height: var(--pluto-tiny-line-height);
        }

        code {
            font-size: inherit;
            line-height: inherit;
            color: var(--pluto-text-color);
            border-radius: var(--pluto-border-radius);
        }

        .pluto-tabs-selector__btn--uneditable {
            padding: 0 3rem;

            .pluto-text-icon {
                gap: 1.5rem;
            }

            .pluto-text {
                margin: 0 !important;
            }
        }

        li {
            font-size: var(--pluto-p-size);
        }

        summary {
            width: max-content;

            &::marker {
                color: var(--pluto-text-color);
                font-family: var(--pluto-font-family);
                font-size: var(--pluto-p-size);
            }

            &:hover {
                cursor: pointer;
            }
        }

        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-border-color);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            position: relative;
            border-width: 0 1px;
            padding: 1.25rem 1.5rem;
        }

        table td {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
            vertical-align: baseline;
        }

        table tr {
            border-bottom: var(--pluto-border);
        }

        table thead th {
            padding: 1.5rem 1.5rem;
            font-weight: 600;
        }

        table thead tr {
            border: none;
            border-width: 2px;
        }

        table th {
            border-bottom: var(--pluto-border);
            text-align: start;
        }

        table {
            table-layout: auto;
            width: calc(100% - 4px);
            border-spacing: 0;
            background: transparent;
            border-collapse: collapse;
            overflow-x: auto;
            border-style: hidden;
        }
    </style>
</html>
