---
import Header from "@/components/Header.astro";
import PageNav from "@/components/PageNav/PageNav.astro";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import { ViewTransitions } from "astro:transitions";
import OnThisPage from "@/components/OnThisPage/OnThisPage.astro";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
import Article from "@/components/article/Article.astro";
const {
    headings,
    frontmatter: { title, heading, description },
} = Astro.props;
---

<html transition:animate="none">
    <head>
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ViewTransitions />
    </head>
    <Header />
    <main>
        <section>
            <PageNav />
            <Article title={heading ?? title} description={description}>
                <slot />
            </Article>
            <OnThisPage headings={headings} url={Astro.url} />
        </section>
    </main>
    <Footer />

    <script>
        import { startThemeDriver } from "@/util/theme";
        import { startUpdatingIframeHref } from "@/util/iframe";
        startThemeDriver();
        startUpdatingIframeHref();
        document.addEventListener("astro:after-swap", () => {
            startThemeDriver();
            startUpdatingIframeHref();
        });
    </script>

    <script>
        import { addListeners } from "@/components/code/codeUtil";
        addListeners();
        document.addEventListener("astro:after-swap", addListeners);
        new MutationObserver(addListeners).observe(document.body, {
            childList: true,
            subtree: true,
        });
    </script>

    <script>
        import { getVersion } from "@/util/fetchVersion";

        getVersion().then((version) => {
            document.querySelector(".version").innerHTML = version;
        });
    </script>

    <style is:global>
        * {
            scroll-margin: 20rem;
        }
        body {
            height: fit-content !important;
        }
        main {
            position: relative;
            & > section {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0 2rem;
                max-width: 1300px;
            }
        }
        nav {
            position: sticky;
            top: 18rem;
            height: 100%;
        }
    </style>
    <style is:global>
        .pluto-tabs-selector__button p {
            margin: 0;
        }

        html {
            --pluto-gray-n1: white;
            @media (prefers-color-scheme: dark) {
                --pluto-gray-n1: var(--pluto-gray-l1);
            }
        }

        nav {
            & p,
            small {
                white-space: normal !important;
            }
            & small {
                margin-top: 2px !important;
            }
        }

        a {
            color: var(--pluto-primary-p1);
            text-decoration: none;
        }

        :root {
            --nav-height: 10rem;
            --max-width: 1400px;
            --astro-code-color-text: var(--pluto-text-color);
            --astro-code-color-background: var(--pluto-gray-l1);
            --astro-code-token-comment: var(--pluto-gray-l5);
            /* forest green */
            --astro-code-token-string-expression: #219237;
            --astro-code-token-function: var(--pluto-primary-z);
            --astro-code-token-punctuation: var(--pluto-text-color);
            --astro-code-token-keyword: #dc1342;
            --astro-code-token-constant: var(--pluto-text-color);
        }

        a:hover:not(.pluto-btn) {
            text-decoration: underline;
        }

        header:is(h1, h2, p) {
            margin: 0 !important;
        }

        li {
            margin: 0.5rem;
        }

        code:not(.astro-code code) {
            padding: 0.25rem 0.75rem;
            background: var(--pluto-gray-l2);
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
            border-radius: 0.5rem;
        }

        code {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
        }

        .pluto-tabs-selector__btn--uneditable {
            padding: 0 3rem;

            .pluto-text-icon {
                gap: 1.5rem;
            }

            .pluto-text {
                margin: 0 !important;
            }
        }

        li {
            font-size: var(--pluto-p-size);
        }

        code {
            border-radius: var(--pluto-border-radius);
        }

        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-border-color);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            position: relative;
            border-width: 0 1px;
            padding: 1.25rem 1.5rem;
        }

        table td {
            font-size: 2rem;
            line-height: 3rem;
            vertical-align: baseline;
        }

        table tr {
            border-bottom: var(--pluto-border);
        }

        table thead th {
            padding: 1.5rem 1.5rem;
            font-weight: 600;
        }

        table thead tr {
            border: none;
            border-width: 2px;
        }

        table th {
            border-bottom: var(--pluto-border);
            text-align: start;
        }

        table {
            width: calc(100% - 4px);
            border-spacing: 0;
            background: transparent;
            border-collapse: collapse;
            overflow-x: auto;
            border-style: hidden;
            /* border-radius: var(--pluto-border-radius); */
            /* box-shadow: 0 0 0 1px var(--pluto-border-color); */
        }
    </style>
</html>
