---
import { PageNav } from "@/components/PageNav";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import { ViewTransitions } from "astro:transitions";
import { Theming } from "@synnaxlabs/pluto/theming";
import { DARK, LIGHT } from "@/util/theme";
import { Logo } from "@synnaxlabs/media";
import { TableOfContents } from "@/components/TableOfContents";
import { SEO } from "astro-seo";
import { Align } from "@synnaxlabs/pluto/align"
import { Icon } from "@synnaxlabs/media";
import { Search } from "@/components/Search"
const {
  headings,
  frontmatter: { title, heading, description },
} = Astro.props;

const url = Astro.request.url;
if (url.includes("noHeader")) {
  const header = url.split("noHeader=")[1].split("&")[0];
  Astro.cookies.set("noHeader", header);
}
if (url.includes("theme")) {
  const theme = url.split("theme=")[1].split("&")[0];
  Astro.cookies.set("theme", theme);
}

const noHeader = Astro.cookies.get("noHeader");
let vars: Record<string, any> = {};
if (noHeader?.value == "true") {
  vars["--docs-header-display"] = "none";
}
const theme = Astro.cookies.get("theme");
vars = { ...vars, ...Theming.toCSSVars(LIGHT) }
---

<script>
  const updateHref = () => {
    const url = window.location.href;
    const path = url
      .replace(window.location.origin, "")
      .split("?")[0]
      .split("#")[0];
    const maybeHeading = url.split("#");
    let heading = "";
    if (maybeHeading.length > 1) {
      heading = maybeHeading[1].split("&")[0];
    }
    window.parent.postMessage({ path, heading }, "*");
  };
  window.addEventListener("popstate", updateHref);
  updateHref();

  const VERSION =
    "https://raw.githubusercontent.com/synnaxlabs/synnax/main/synnax/pkg/version/VERSION";
  const version = await (await fetch(VERSION)).text();
  const versionEl = document.querySelector(".version")
  if (versionEl) {
    versionEl.innerHTML = `v${version}`;
  }
</script>

<html style={vars} transition:animate="none">
  <head>
    <SEO
      title={title}
      titleTemplate="%s | Synnax"
      titleDefault="Synnax"
      description={description}
      extend={{
        link: [
          {
            rel: "icon",
            href: "/favicon.svg",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <header
    class="pluto--bordered-bottom"
    style={{
      display: vars["--docs-header-display"],
    }}
  >
    <Align.Space className="header-content" direction="x" justify="spaceBetween" align="center">
      <a href="/">
        <Logo style={{ height: "5rem" }} variant="title"/>
      </a>
      <Search client:only="react"/>
      <Align.Space direction="x" align="center">
        <a href="https://github.com/synnaxlabs/synnax">
          <Icon.Logo.Github style={{height:"3rem", width: "3rem"}} fill="var(--pluto-text-color)" />
        </a>
      <p class="version" transition:persist></p>
      </Align.Space>
    </Align.Space>
  </header>
  <section>
    <nav class="docs-nav">
      <PageNav client:idle currentPage={Astro.url.pathname} />
    </nav>
    <article transition:animate="fade">
      <h1 class="article-title">{heading ?? title}</h1>
      <slot />
    </article>
    <nav class="docs-toc pluto--bordered-left">
      <TableOfContents client:idle headings={headings} />
    </nav>
  </section>

  <script>
    import { startThemeDriver } from "@/util/theme";
    startThemeDriver();
  </script>

  <script is:inline>
  document.querySelector('#search')?.addEventListener('input', async (e) => {

    console.log(json)
  })
  </script>

  <style is:global>
    .pluto-tabs-selector__button p {
      margin: 0;
    }

    .search-box {
      z-index: 1000;
      & input {
        width: 500px;
      }

      &.pluto--visible {
        position: fixed;
          left: 50%;
          transform: translateX(-50%);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          & input  {
            width: 80vw;
            max-width: 900px;
            height: 40px;
          }
      }

      .pluto-dropdown__dialog {
          position: absolute;
          left: 0 !important;
          top: 40px !important;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          background-color: var(--pluto-background-color);
          border-radius: var(--pluto-border-radius) !important;

          & .search-result {
            &:hover {
              background-color: var(--pluto-gray-m3);
            }
            padding: 2rem;

            & b {
              background-color: var(--pluto-primary-z-30);
            }
          }
          
          & a:hover {
            text-decoration: none;
          }
      }
    }

    a {
      color: var(--pluto-primary-p1);
      text-decoration: none;
    }

  :root {
      --nav-height: 10rem;
      --max-width: 1300px;
      --astro-code-color-text: var(--pluto-text-color);
      --astro-code-color-background: var(--pluto-gray-m4);
      --astro-code-color-comment: var(--pluto-text-color);
      --astro-code-token-string-expression: #ffc43d;
      --astro-code-token-function: #20a4f3;
      --astro-code-token-punctuation: var(--pluto-text-color);
      --astro-code-token-keyword: #dc136c;
      --astro-code-token-constant: var(--astro-code-token-string-expression);
    }

    a:hover:not(.pluto-btn) {
      text-decoration: underline;
    }

    .pluto-tree {
      .pluto-text {
        color: var(--pluto-gray-p1);
        font-size: var(--pluto-small-size);
        line-height: var(--pluto-small-line-height);
        font-weight: var(--pluto-small-weight);
      }

      overflow: hidden;


      .pluto-btn {
        height: 32px;
        background: none !important;

        &:hover {
            & .pluto-text {
              color: var(--pluto-text-color);
            }

            & path:is(:not([fill="none"]), [stroke="#000"]) {
              fill: var(--pluto-text-color) !important;
            }
        }
      
        &:not(.pluto--has-children) {
          border-left: 1px solid var(--pluto-gray-m3);

          &.pluto--selected {
            border-left: 2px solid var(--pluto-primary-p1);
            background: none;
            .pluto-text {
              color: var(--pluto-text-color);
            }
          }

          &:hover {
            background: none;
            border-left: 2px solid var(--pluto-text-color);
          }
        }
      }

      .pluto-text-icon path:is(:not([fill="none"]), [stroke="#000"]) {
        fill: var(--pluto-gray-p0)
      }

      
    }

    .copy-code {
      position: absolute;
      top: 25%;
      right: 20px;
      border-color: var(--pluto-gray-m1);
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }

    pre:hover .copy-code {
      opacity: 1;
    }

    .copy-code svg > * {
      fill: var(--pluto-gray-m1);
    }

    .copy-code:hover svg > * {
      fill: var(--pluto-gray-m0);
    }

    header h1,
    header h2,
    header p {
      margin: 0 !important;
    }

    li {
      margin: 0.5rem;
    }

    article h1,
    article h3,
    article h4,
    article h5,
    article h6,
    article p,
    article table,
    article video {
      margin: 2.5rem 0;
    }

    article h2 {
      margin: 4rem 0;
    }

    article img {
      margin: 2rem -2rem;
    }

    article .pluto-tabs-selector {
      margin: 1.5rem 0;
    }

    article video {
      width: 100%;
      border-radius: 1rem !important;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    article img {
      width: calc(100% + 4rem);
    }

    code:not(.astro-code code) {
      padding: 0.25rem 1rem;
      background-color: var(--pluto-gray-m4); */
    }

    code {
      font-size: var(--pluto-small-size);
      line-height: var(--pluto-small-line-height);
    }

    .pluto-tabs-selector__btn--uneditable {
      padding: 0 3rem;

      .pluto-text-icon {
        gap: 1.5rem;
      }

      .pluto-text {
        margin: 0 !important;
      }
    }

    li {
      font-size: var(--pluto-p-size);
    }

    .astro-code {
      padding: 3rem;
      position: relative;
      border-radius: var(--pluto-border-radius);
      margin: 2rem 1rem;
      overflow-x: auto !important;
      overflow-y: visible !important;
    }

    .pluto-dropdown__dialog {
      border: none;
      border-top: var(--pluto-border);
      overflow: auto;
      max-height: 40vh;
    }

    .pluto-dropdown > button {
      border-top: var(--pluto-border) !important;
      margin-top: 1px;
    }

    .pluto-pack {
      border: none !important;
    }

    code {
      border-radius: var(--pluto-border-radius);
    }

    @media (prefers-color-scheme: dark) {
      html {
        --pluto-background-color: #121212;
        --pluto-text-color: #ffffff;
      }
    }

    table > :not(caption) > * {
      border-width: 1px 0;
      border-color: var(--pluto-border-color);
      border-style: solid;
    }

    table > :not(caption) > * > * {
      position: relative;
      border-width: 0 1px;
      border-color: var(--pluto-border-color);
      border-style: solid;
      padding: 1.25rem 1.5rem;
    }

    table td {
      font-size: var(--pluto-small-size);
    }

    table thead th {
      padding: 1.5rem 1.5rem;
      font-weight: 600;

    }

    table thead tr {
      border-width: 2px;
    }

    table th {
      text-align: start;
    }

    table {
      width: calc(100% - 4px);
      border-spacing: 0;
      background-color: transparent;
      border-collapse: collapse;
      overflow-x: auto;
      border-style: hidden;
      border-radius: var(--pluto-border-radius);
      box-shadow: 0 0 0 1px var(--pluto-border-color);
    }
  </style>

  <style>
    :root {
      --max-width: 1440px;
    }

    .article-title {
      width: fit-content;
    }

    .article-title::after {
      content: "";
      display: block;
      width: 100px;
      margin-top: 2rem;
      height: 2px;
      background-color: var(--pluto-primary-p1);
    }

    h1 {
      padding-bottom: 1rem;
    }

    header {
      display: flex;
      justify-content: center;
      flex-basis: 10rem;
      flex-grow: 1;
      flex-shrink: 0;
      width: 100%;
    }

    .header-content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: center;
      padding: 0 5rem;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 1600px) {
      body {
        align-items: unset;
      }
    }

    @media (max-width: 1100px) {
      .docs-toc {
        display: none;
      }
    }

    @media (min-width: 1440px) {
      section {
        width: var(--max-width);
      }
    }

    .docs-nav {
      border-right: var(--pluto-border);
    }

    @media (max-width: 700px) {
      section {
        flex-direction: column-reverse;
      }
      .docs-nav {
        overflow-y: inherit;
        border-right: none;
        flex-basis: 0px;
        padding: 0px;
      }
      article {
        padding: 2rem !important;
      }
    }

    section {
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 9999;
      flex-basis: 0;
      height: calc(100% - 10rem);
    }

    nav {
      padding: 20px 0px;
      flex-basis: 210px;
      overflow-y: auto;
    }

    article {
      flex-basis: 0;
      flex-grow: 9999;
      padding: 5rem 8rem;
      overflow-y: auto;
    }
  </style>
</html>
