---
import Header from "@/components/Header.astro";
import PageNav from "@/components/PageNav/PageNav.astro";
import "@synnaxlabs/pluto/dist/style.css";
import "@synnaxlabs/media/dist/style.css";
import { ViewTransitions } from "astro:transitions";
import OnThisPage from "@/components/OnThisPage/OnThisPage.astro";
import { SEO } from "astro-seo";
import Footer from "@/components/Footer.astro";
import Article from "@/components/article/Article.astro";
const {
    headings,
    frontmatter: { title, heading, description },
} = Astro.props;
---

<html>
    <head>
        <SEO
            title={title}
            titleTemplate="%s | Synnax"
            titleDefault="Synnax"
            description={description}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1.0",
                    },
                ],
            }}
        />
        <ViewTransitions />
    </head>
    <Header />
    <main>
        <section>
            <PageNav />
            <Article title={heading ?? title} description={description}>
                <slot />
            </Article>
            <OnThisPage headings={headings} url={Astro.url} />
        </section>
    </main>
    <Footer />

    <script>
        import { addCodeButtonListeners } from "@/components/code/codeUtil";
        import { startUpdatingIframeHref } from "@/util/iframe";
        addCodeButtonListeners();
        startUpdatingIframeHref();
        document.addEventListener("astro:after-swap", () => {
            addCodeButtonListeners();
            startUpdatingIframeHref();
        });
    </script>

    <script>
        import { getVersion } from "@/util/fetchVersion";
        getVersion().then((version) => {
            const versionElement = document.querySelector(".version");
            if (versionElement == null) return;
            versionElement.innerHTML = version;
        });
    </script>

    <style is:global>
        html {
            background: var(--pluto-gray-l0);
            --nav-height: 10rem;
            --max-width: 1400px;
            --astro-code-color-text: var(--pluto-text-color);
            --astro-code-color-background: var(--pluto-gray-l1);
            --astro-code-token-comment: var(--pluto-gray-l5);
            --astro-code-token-string-expression: #219237;
            --astro-code-token-function: var(--pluto-primary-z);
            --astro-code-token-punctuation: var(--pluto-text-color);
            --astro-code-token-keyword: #dc1342;
            --astro-code-token-constant: var(--pluto-text-color);
            --pluto-base-size: 6px;
            --pluto-border-radius: 2px;
            --pluto-border-width: 1px;
            --pluto-schematic-element-stroke-width: 2px;
            --pluto-font-family: "Inter Variable", sans-serif;
            --pluto-h1-size: 8rem;
            --pluto-h1-weight: 450;
            --pluto-h1-line-height: 150%;
            --pluto-h2-size: 5.5rem;
            --pluto-h2-weight: 500;
            --pluto-h2-line-height: 150%;
            --pluto-h3-size: 4rem;
            --pluto-h3-weight: 450;
            --pluto-h3-line-height: 150%;
            --pluto-h4-size: 3.25rem;
            --pluto-h4-weight: 550;
            --pluto-h4-line-height: 150%;
            --pluto-h5-size: 2.666rem;
            --pluto-h5-weight: 450;
            --pluto-h5-line-height: 150%;
            --pluto-h5-text-transform: none;
            --pluto-p-size: 2.666rem;
            --pluto-p-weight: 350;
            --pluto-p-line-height: 4.666rem;
            --pluto-small-size: 2.333rem;
            --pluto-small-weight: 350;
            --pluto-small-line-height: 150%;
            --pluto-height-large: 5.75rem !important;
            --pluto-height-medium: 5rem !important;
            --pluto-text-on-primary: white;
            @media (prefers-color-scheme: dark) {
                --pluto-theme-name: Synnax Dark;
                --pluto-theme-key: synnax-dark;
                --pluto-primary-m1: #164fa0;
                --pluto-primary-z: #3774d0;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-10: #3774d019;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-10: #50c87819;
                --pluto-gray-l0: #020202;
                --pluto-gray-l0-90: #020202e5;
                --pluto-gray-l0-80: #020202cc;
                --pluto-gray-l0-70: #020202b2;
                --pluto-gray-l0-60: #02020299;
                --pluto-gray-l0-50: #0202027f;
                --pluto-gray-l0-40: #02020266;
                --pluto-gray-l0-30: #0202024c;
                --pluto-gray-l0-20: #02020233;
                --pluto-gray-l0-10: #02020219;
                --pluto-gray-l1: #080808;
                --pluto-gray-l1-90: #080808e5;
                --pluto-gray-l1-80: #080808cc;
                --pluto-gray-l1-70: #080808b2;
                --pluto-gray-l1-60: #08080899;
                --pluto-gray-l1-50: #0808087f;
                --pluto-gray-l1-40: #08080866;
                --pluto-gray-l1-30: #0808084c;
                --pluto-gray-l1-20: #08080833;
                --pluto-gray-l1-10: #08080819;
                --pluto-gray-l2: #141414;
                --pluto-gray-l3: #1a1a1a;
                --pluto-gray-l3-90: #1a1a1ae5;
                --pluto-gray-l3-80: #1a1a1acc;
                --pluto-gray-l3-70: #1a1a1ab2;
                --pluto-gray-l3-60: #1a1a1a99;
                --pluto-gray-l3-50: #1a1a1a7f;
                --pluto-gray-l3-40: #1a1a1a66;
                --pluto-gray-l3-30: #1a1a1a4c;
                --pluto-gray-l3-20: #1a1a1a33;
                --pluto-gray-l3-10: #1a1a1a19;
                --pluto-gray-l4: #242424;
                --pluto-gray-l5: #515151;
                --pluto-gray-l5-90: #515151e5;
                --pluto-gray-l5-80: #515151cc;
                --pluto-gray-l5-70: #515151b2;
                --pluto-gray-l5-60: #51515199;
                --pluto-gray-l5-50: #5151517f;
                --pluto-gray-l5-40: #51515166;
                --pluto-gray-l5-30: #5151514c;
                --pluto-gray-l5-20: #51515133;
                --pluto-gray-l5-10: #51515119;
                --pluto-gray-l6: #7f7f7f;
                --pluto-gray-l6-90: #7f7f7fe5;
                --pluto-gray-l6-80: #7f7f7fcc;
                --pluto-gray-l6-70: #7f7f7fb2;
                --pluto-gray-l6-60: #7f7f7f99;
                --pluto-gray-l6-50: #7f7f7f7f;
                --pluto-gray-l6-40: #7f7f7f66;
                --pluto-gray-l6-30: #7f7f7f4c;
                --pluto-gray-l6-20: #7f7f7f33;
                --pluto-gray-l6-10: #7f7f7f19;
                --pluto-gray-l7: #9d9d9d;
                --pluto-gray-l7-90: #9d9d9de5;
                --pluto-gray-l7-80: #9d9d9dcc;
                --pluto-gray-l7-70: #9d9d9db2;
                --pluto-gray-l7-60: #9d9d9d99;
                --pluto-gray-l7-50: #9d9d9d7f;
                --pluto-gray-l7-40: #9d9d9d66;
                --pluto-gray-l7-30: #9d9d9d4c;
                --pluto-gray-l7-20: #9d9d9d33;
                --pluto-gray-l7-10: #9d9d9d19;
                --pluto-gray-l8: #bfbfbf;
                --pluto-gray-l9: #ededed;
                --pluto-gray-l9-90: #ededede5;
                --pluto-gray-l9-80: #edededcc;
                --pluto-gray-l9-70: #edededb2;
                --pluto-gray-l9-60: #ededed99;
                --pluto-gray-l9-50: #ededed7f;
                --pluto-gray-l9-40: #ededed66;
                --pluto-gray-l9-30: #ededed4c;
                --pluto-gray-l9-20: #ededed33;
                --pluto-gray-l9-10: #ededed19;
                --pluto-gray-l10: #fdfdfd;
                --pluto-logo-color: var(--pluto-text-color);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-p1: #f63c45;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #ededed;
                --pluto-text-color-rgb: 237, 237, 237;
                --pluto-border-color: #1a1a1a;
            }

            @media (prefers-color-scheme: light) {
                --pluto-theme-name: Synnax Light;
                --pluto-theme-key: synnax-light;
                --pluto-primary-m1: #164fa0;
                --pluto-primary-z: #3774d0;
                --pluto-primary-p1: #5e94ee;
                --pluto-primary-z-90: #3774d0e5;
                --pluto-primary-z-80: #3774d0cc;
                --pluto-primary-z-70: #3774d0b2;
                --pluto-primary-z-60: #3774d099;
                --pluto-primary-z-50: #3774d07f;
                --pluto-primary-z-40: #3774d066;
                --pluto-primary-z-30: #3774d04c;
                --pluto-primary-z-20: #3774d033;
                --pluto-primary-z-10: #3774d019;
                --pluto-primary-z-5: #3975d00d;
                --pluto-secondary-m1: #38b261;
                --pluto-secondary-z: #50c878;
                --pluto-secondary-p1: #73d393;
                --pluto-secondary-z-90: #50c878e5;
                --pluto-secondary-z-80: #50c878cc;
                --pluto-secondary-z-70: #50c878b2;
                --pluto-secondary-z-60: #50c87899;
                --pluto-secondary-z-50: #50c8787f;
                --pluto-secondary-z-40: #50c87866;
                --pluto-secondary-z-30: #50c8784c;
                --pluto-secondary-z-20: #50c87833;
                --pluto-secondary-z-10: #50c87819;
                --pluto-gray-l0: #fcfcfc;
                --pluto-gray-l0-90: #fcfcfce5;
                --pluto-gray-l0-80: #fcfcfccc;
                --pluto-gray-l0-70: #fcfcfcb2;
                --pluto-gray-l0-60: #fcfcfc99;
                --pluto-gray-l0-50: #fcfcfc7f;
                --pluto-gray-l0-40: #fcfcfc66;
                --pluto-gray-l0-30: #fcfcfc4c;
                --pluto-gray-l0-20: #fcfcfc33;
                --pluto-gray-l0-10: #fcfcfc19;
                --pluto-gray-l1: #f9f9f9;
                --pluto-gray-l1-90: #f9f9f9e5;
                --pluto-gray-l1-80: #f9f9f9cc;
                --pluto-gray-l1-70: #f9f9f9b2;
                --pluto-gray-l1-60: #f9f9f999;
                --pluto-gray-l1-50: #f9f9f97f;
                --pluto-gray-l1-40: #f9f9f966;
                --pluto-gray-l1-30: #f9f9f94c;
                --pluto-gray-l1-20: #f9f9f933;
                --pluto-gray-l1-10: #f9f9f919;
                --pluto-gray-l2: #f4f4f4;
                --pluto-gray-l3: #ededed;
                --pluto-gray-l3-90: #ededede5;
                --pluto-gray-l3-80: #edededcc;
                --pluto-gray-l3-70: #edededb2;
                --pluto-gray-l3-60: #ededed99;
                --pluto-gray-l3-50: #ededed7f;
                --pluto-gray-l3-40: #ededed66;
                --pluto-gray-l3-30: #ededed4c;
                --pluto-gray-l3-20: #ededed33;
                --pluto-gray-l3-10: #ededed19;
                --pluto-gray-l4: #d9d9d9;
                --pluto-gray-l5: #adadad;
                --pluto-gray-l5-90: #adadade5;
                --pluto-gray-l5-80: #adadadcc;
                --pluto-gray-l5-70: #adadadb2;
                --pluto-gray-l5-60: #adadad99;
                --pluto-gray-l5-50: #adadad7f;
                --pluto-gray-l5-40: #adadad66;
                --pluto-gray-l5-30: #adadad4c;
                --pluto-gray-l5-20: #adadad33;
                --pluto-gray-l5-10: #adadad19;
                --pluto-gray-l6: #878787;
                --pluto-gray-l6-90: #878787e5;
                --pluto-gray-l6-80: #878787cc;
                --pluto-gray-l6-70: #878787b2;
                --pluto-gray-l6-60: #87878799;
                --pluto-gray-l6-50: #8787877f;
                --pluto-gray-l6-40: #87878766;
                --pluto-gray-l6-30: #8787874c;
                --pluto-gray-l6-20: #87878733;
                --pluto-gray-l6-10: #87878719;
                --pluto-gray-l7: #616161;
                --pluto-gray-l7-90: #616161e5;
                --pluto-gray-l7-80: #616161cc;
                --pluto-gray-l7-70: #616161b2;
                --pluto-gray-l7-60: #61616199;
                --pluto-gray-l7-50: #6161617f;
                --pluto-gray-l7-40: #61616166;
                --pluto-gray-l7-30: #6161614c;
                --pluto-gray-l7-20: #61616133;
                --pluto-gray-l7-10: #61616119;
                --pluto-gray-l8: #404040;
                --pluto-gray-l9: #1c1c1c;
                --pluto-gray-l9-90: #1c1c1ce5;
                --pluto-gray-l9-80: #1c1c1ccc;
                --pluto-gray-l9-70: #1c1c1cb2;
                --pluto-gray-l9-60: #1c1c1c99;
                --pluto-gray-l9-50: #1c1c1c7f;
                --pluto-gray-l9-40: #1c1c1c66;
                --pluto-gray-l9-30: #1c1c1c4c;
                --pluto-gray-l9-20: #1c1c1c33;
                --pluto-gray-l9-10: #1c1c1c19;
                --pluto-gray-l10: #050505;
                --pluto-logo-color: url(#synnax-linear-gradient);
                --pluto-error-m1: #c30912;
                --pluto-error-z: #f5242e;
                --pluto-error-p1: #f63c45;
                --pluto-white: #ffffff;
                --pluto-white-rgb: 255, 255, 255;
                --pluto-black: #000000;
                --pluto-black-rgb: 0, 0, 0;
                --pluto-text-color: #1c1c1c;
                --pluto-text-color-rgb: 28, 28, 28;
                --pluto-border-color: #ededed;
            }
        }

        * {
            scroll-margin: 20rem;
            box-sizing: border-box;
        }

        body {
            height: fit-content !important;
            margin: 0;
        }

        main {
            position: relative;
            min-height: calc(100vh - 30rem);
            & > section {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0 2rem;
                max-width: 1340px;
            }
            @media (max-width: 768px) {
                & > section {
                    flex-direction: column;
                }
            }
        }
        nav {
            position: sticky;
            top: 22rem;
            height: 100%;
            & p,
            small {
                white-space: normal !important;
            }
        }
        .styled-scrollbar {
            &::-webkit-scrollbar {
                width: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--pluto-border-color);
                border-radius: 2px;
            }
        }

        a {
            color: var(--pluto-primary-p1);
            text-decoration: none;
        }

        a:hover:not(.pluto-btn) {
            text-decoration: underline;
        }

        li {
            margin: 0.5rem;
        }

        code:not(.astro-code code) {
            padding: 0.25rem 0.75rem;
            background: var(--pluto-gray-l2);
            border: var(--pluto-border);
            border-color: var(--pluto-gray-l3);
            border-radius: 0.5rem;
        }

        & code:not(:is(h1, h2, h3, h4, h5, h6) code) {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
        }

        code {
            font-size: inherit;
            line-height: inherit;
            color: var(--pluto-text-color);
            border-radius: var(--pluto-border-radius);
        }

        .pluto-tabs-selector__btn--uneditable {
            padding: 0 3rem;

            .pluto-text-icon {
                gap: 1.5rem;
            }

            .pluto-text {
                margin: 0 !important;
            }
        }

        li {
            font-size: var(--pluto-p-size);
        }

        summary {
            width: max-content;

            &::marker {
                color: var(--pluto-text-color);
                font-family: var(--pluto-font-family);
                font-size: var(--pluto-p-size);
            }

            &:hover {
                cursor: pointer;
            }
        }


        table > :not(caption) > * {
            border-width: 1px 0;
            border-color: var(--pluto-border-color);
            border-style: solid;
        }

        table > :not(caption) > * > * {
            position: relative;
            border-width: 0 1px;
            padding: 1.25rem 1.5rem;
        }

        table td {
            font-size: var(--pluto-small-size);
            line-height: var(--pluto-small-line-height);
            vertical-align: baseline;
        }

        table tr {
            border-bottom: var(--pluto-border);
        }

        table thead th {
            padding: 1.5rem 1.5rem;
            font-weight: 600;
        }

        table thead tr {
            border: none;
            border-width: 2px;
        }

        table th {
            border-bottom: var(--pluto-border);
            text-align: start;
        }

        table {
            table-layout: auto;
            width: calc(100% - 4px);
            border-spacing: 0;
            background: transparent;
            border-collapse: collapse;
            overflow-x: auto;
            border-style: hidden;
        }
    </style>
</html>
